[Unit]
Description=GarageQTPi
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=%i
ExecStart=/usr/bin/python /home/pi/GarageQTPi/main.py

[Install]
WantedBy=multi-user.target
